body {
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

#profile{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

#profile_info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 15vw;
}

#profile_pic {
    width: 15vw;
    height: 15vw;
}

#id {
    font-size: 4vw;
    font-weight: 100;
    margin-left: 3vw;
}

button {
    height: 80%;
    width: 80%;

    margin-left: 3vw;
    font-size: 3vw;
    background-color: white;
    border-radius: 5%;
    border: solid gray 1px;
}

.thumbnail_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail{
    width: 100%;
}

#stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    margin-top: 5px;
    margin-bottom: 5px;
}

.stat{
    text-align: center;
}

.circle_pic{
    border-radius: 50%;
    border: solid white 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight_pic {
    width: 10vw;
    height: 10vw;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#highlight_area {
    display: grid;
    grid-template-columns: 12vw 12vw 1fr;
}

.highlight {
    text-align: center;
}

#top {
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    height: 10vw;
    min-height: 10vw;
    border-bottom: solid gray 0.1px;
    margin-bottom: 3vw;
    padding-bottom: 5px;
}

#top img {
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    object-fit: contain;
}

#top input{
    border-radius: 5%;
    border: solid gray 1px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    width: 90%;
    height: 60%;

    text-align: center;
    font-size: 4vw;

    background-color: white;
}

i {
    color: gray;
    margin-right: 1vw;
}

#top i {
    font-size: 3vw;
}

#top div{
    text-align: center;
    padding-top: 3vw;
}

#sub_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    text-align: center;
    font-size: 5vw;

    height: 7vw;
}

.selected{
    border-bottom: solid gray 3px;
}